.board {
    width: 768px;
    height: 1366px;
    border-style: solid;
    border-color: crimson;
    border-width: 2px;
}

.tempbtn{
    width:200px;
    height:200px;
}

.tempbox{
    width:200px;
    height: 200px;
    border-radius: 100%;
    margin:200px 0 0 284px;
    box-shadow: 0px 9px #999;
}

.tempbox:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}